<div class="item">
  <div routerLink="/details/{{ data.id }}">
    <img [src]="data.image" alt="" />
    <div class="body">
      <h4>{{ data.title }}</h4>
      <p>{{ data.description }}</p>
    </div>
  </div>
  <div class="px-3 mb-2 d-flex justify-content-between align-items-center">
    <button
      class="btn btn-success"
      *ngIf="!addbutton"
      (click)="addbutton = true"
    >
      Add to cart
    </button>
    <div class="d-flex w-50" *ngIf="addbutton">
      <input type="number" class="form-control" [(ngModel)]="amount" min="1" />
      <button class="btn btn-danger" (click)="add()">Add</button>
    </div>
    <span>{{ data.price }}</span>
  </div>
</div>
